{% extends "base.html" %}

{% block content %}
<h1>About House Hunter</h1>
<hr />
<p class="page-content">
  Welcome to House Hunter, your ultimate home organization app! Designed to bring order and efficiency to every corner of your home, House Hunter helps you manage and keep track of your household essentials with ease.
  
  Whether it’s your garage storage, pantry supplies, freezer contents, or any other household items, House Hunter ensures that everything is in its place and easy to find. With intuitive features and a user-friendly interface, you can:
</p>
<ul>
  <li>Organize Your Garage Storage: Keep track of tools, seasonal items, and other stored belongings effortlessly.</li>
  <li>Manage Freezer Inventory: Know what’s in your freezer at all times, helping you reduce food waste and plan meals efficiently.</li>
  <li>Pantry Management: Maintain an updated list of pantry items, ensuring you never run out of essentials.</li>
  <li>Track House Supplies: From cleaning products to toiletries, House Hunter helps you stay on top of your home supply inventory.</li>
</ul>
<p>House Hunter is your go-to solution for a well-organized and smoothly running household. Say goodbye to clutter and hello to a more organized and stress-free home life with House Hunter!</p>
{% endblock content %}
